@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.ets_nivo_alert{
     right: 10px;
    top: 10px;
    position: fixed;
    z-index: 50000;
}
.ets_nivo_alert.hidden{
    display:none;
}
.form-group .input-group,
#YBCNIVO_START_SLIDE,
input#opacity {
    max-width: 400px;
}
.ets_file_upload img.img-thumbnail {
    margin-bottom: 10px;
    max-width: 580px;
    width: 100%;
}
.row.ets_file_upload + .col-lg-9 {
    clear: both;
    display: block;
    float: none!important;
}
.bootstrap .form-group + p.help-block {
    margin-top: -11px;
}
#content a,
#content button{
    outline: none!important;
    box-shadow: none!important;
}
.mce-container, .mce-container *, .mce-widget, .mce-widget *{
    white-space: normal!important;
}
@media (max-width: 1199px){
    .translatable-field .col-lg-2 button.dropdown-toggle {
        margin-top: 4px;
    }
}